{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="{% static 'messager/css/style4.css' %}">
  <title>животные</title>
</head>
<body>
  <h1 class="header">Сайт про животных</h1>
  <div class="block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, dolorem!</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, dolorem!</div>
  
<!--  <img class="img" src="img/cola.jpeg" alt="ой, ошибка картинки нет">-->
  <br>
  <a href="https://vk.com/id534138304">я в вк</a>
  <script>
    console.log('hello world')
  </script>
  <form action="#">
    <p>имя</p>
    <input type="text">
    <p>пароль</p>
    <input type="password">
    <p>сколько тебе лет</p>
    <p><input type="radio" name="age">10</p>
    <p><input type="radio" name="age">11</p>
    <p><input type="radio" name="age">12</p>
    <p>чем вы обычно занимаетесь</p>
    <p><input type="checkbox" name="case">смотрю фильм</p>
    <p><input type="checkbox" name="case">сплю</p>
    <p><input type="checkbox" name="case">занимаюсь спортом</p>
    <p></p><input type="checkbox" name="case"><p><input type="text">свой вариант ответа</p></p>
    <button>отправить</button>
  </form>













</body>
</html>