{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'messager/css/registration.css' %}">
    <title>Регистрация/вход</title>
</head>
<body>
    <form action="" class="container">
        <div class="input-container">
            <div class="input-content">
                <div class="input-dist">
                    <div class="input-type">
                        <input placeholder="имя" required="" type="text" class="input-is">  
                        <input placeholder="пароль" required="" type="password" class="input-is">  
                    </div>
                </div>
            </div>
        </div>
      </form>
      <div class="card">
		
        <div class="circle"></div>
		
        <div class="circle"></div>
        <div class="card-inner"></div>
		
    </div>
</body>
</html>

